/************** NAV BAR *****************/

#app  a:link, #app a:visited{
    color: rgba(0,65,134);
}

#app  a:hover, #app a:active{
    color: rgba(7,165,209);
}



/************** LOGO *****************/
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/************** ACCUEIL *****************/

.home-image{
    padding-top: 80px;
    width: 70%;
    margin: 0 auto;
    position :relative;
}

.carousel-caption h1{
    /* color: #d8dd07; */
    color: rgba(7,165,209);
}

/************** SERVICES *****************/

.services-container{
    padding-top: 80px;
    width: 80%; 
    margin: 0 auto;
    position :relative;
}

.services-container .content{
    background:white;
}

/************** MATTERS *****************/

.matieres-container{
    padding-top: 80px;
    width: 80%; 
    margin: 0 auto;
    position :relative;
    height: 100%;
}
  
.matieres-container .content{
    background: white;
}

/************** ABOUT *****************/

.about-history{
  padding-top: 80px;
  width: 80%; 
  margin: 0 auto;
}

.about-equipe .container{
  background:white;
}

.about-testimonials .container{
  background:white;
}

/*************Admin-index.blade*********/
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}