
.home-image{
  padding-top: 80px;
  margin: 0 auto;
  position :relative;
}

.carousel-caption h1{
  /* color: #d8dd07; */
  color: rgba(7,165,209);
}

.why_choose_us{
  background: white;
}

.avatar img{
  width: 250px;
  height: 250px;
}