
/************** SERVICES *****************/
.content{
    padding-top: 20px;
  }
  
  .services h3{
    text-align: center;
    
  }
  .services h5{
    color:blue;
    font-family: cursive;
    font-size: 2em;
  }
  .services button{
    display: block;
    margin: 0 auto;
  }
  
  #div1, #div2 {
    display: inline-block;
  }
  /* MOBILE iPAD CSS */
  /*cible les écrans de largeur inférieure à 800px grace à la régle max-width*/
  
  @media only screen and (max-width: 800px) {
  
    #change_order_div {
      display: flex;
      flex-direction: column;
    }
  
    #div2 {
      display: block;
      order: 1;
    }
    #div1 {
      display: block;
      order: 2;
    }
  }